*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: rgb(72, 115, 224);
}
h1{
    margin: 10px;
    font-size: 30px;
    color: aliceblue;
}

.calculator{
    
    max-width: 355px;
    max-height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
    max-height: 650px;
    background-color: rgb(84, 84, 84);
    border: 2px solid rgb(43, 43, 43);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 15px 7px 4px rgba(0, 0, 0, 0.5);
    
   }

.calculator-display{
    width: 335px;
    height: 75px;
    margin: 32px;
    font-size: 40px;
    text-align: right;
    background-color: rgb(228, 223, 223);
    border: 1px solid rgb(141, 139, 139);
    border-radius: 12px;
    padding: 11px;
    overflow: auto;
    color:#3f3f3f;
}

.calculator-key{
    width: 55px;
    height: 55px;
    font-size: 40px;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 50%;
    margin: 12px;
    text-align: center;
    cursor: pointer;
    color: #3f3f3f;
    border-color: black;
    
}

.calculator-key:hover{
    background-color: #3cfa62;
}

.calculator-key-operation {
    background-color: rgb(249, 81, 81);
  }

  .calculator-key-equal {
    background-color: rgb(131, 248, 131);
  }

.version{
    color: rgb(195, 195, 195);
}

footer{
    text-align: center;
    padding: 10px;
}
.elemento-encima-del-footer {
    margin-bottom: 100px; /* Altura del footer */
  }
